# Extensões
*.aux
*.bcf
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tex
*.toc

# Diretórios
2025-2/
2026-1/
AULAS/Apresentação/
Plano de Ensino/*
PROVAS/

# Exceções
!Plano de Ensino/plano_ensino.pdf