# Extensões
*.aux
*.bcf
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tex
*.toc
*.zip

# Diretórios
2025-2/
2026-1/
2026-2/
AULAS/Apresentação/
Materiais/
node_modules/
.next/
Plano de Ensino/*
PROVAS/

# Exceções
!Plano de Ensino/plano_ensino.pdf